.card-header{
  background-color: #163C66;
  color: white;
}

table{
  table-layout: fixed;
  width: 100%;
}

@media only screen and (max-width: 850px) {
  table{
    table-layout: auto;
    width: 100%;
  }
}