.card-header {
  background-color: #163c66;
  color: white;
}

table {
  table-layout: fixed;
  width: 100%;
}

@media only screen and (max-width: 850px) {
  table {
    table-layout: auto;
    width: 100%;
  }
}

#map {
  height: 360px;
  width: 100%;
  overflow: hidden;
  float: left;
  border: thin solid #333;
  border-radius: 3px;
}

#map-controls {
  border: thin solid black;
  background: white;
  border-radius: 3px;
  padding-left: 5px;
}

#geocode-error{
  color: red;
}