@media only screen and (min-width: 850px) {
  nav > ul > li > a{
    padding: 6px 8px 6px 4px;
    text-decoration: none;
    font-size: 24px;
    color: #818181;
    display: block;
  }

  nav > ul > li > a:hover {
    color: #f1f1f1;
  }

  nav > ul {
    list-style: none;
  }

  #sidenav{
    height: 100vh;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #163C66;
    overflow-x: hidden;
    padding-top: 30px;
  }

  #logo{
    height: 90px;
    width: 90px;
    filter: invert(1);
    margin: 0 0 30px 40px;
  }

  .container{
    margin-left: 180px;
  }
}

@media only screen and (max-width: 850px) {
  #sidenav {
    height: 100vh;
    width: 110px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #163C66;
    overflow-x: hidden;
    padding-top: 30px;
  }

  nav > ul > li > a{
    padding: 6px 8px 6px 4px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
  }

  nav > ul{
    padding-left: 10px;
  }

  #logo{
    height: 50px;
    width: 50px;
    filter: invert(1);
    margin: 0 0 30px 30px;
  }

  #content { 
    margin-left: 240px; 
  }
}

