#background-container{
  background: url(/assets/umbrella.jpg) no-repeat center; 
  background-size: cover; 
  height: 100vh; 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sign-in-container{
  background: white;
  display: flex;
  width: 30%;
  height: 80%;
  border-radius: 5%;
}

.container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}